.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté encima del canvas */
  }
  
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
  }
  
  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  @font-face {
  font-family: 'pixelmix';
  src: url('../public/assets/fonts/pixelmix.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}